{% extends "base.html" %}
{% load strutils %}
{% load url_replace %}

{% block title %}
{{ group|title }} Confidence
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Confidence</li>
    <li class="breadcrumb-item active" aria-current="page">{{ group|capfirst }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<form class="form-inline" action="" method="get">
  <div class="input-group mb-2 mr-sm-2">
    <select class="form-control" id="days_ago" name="days_ago">
      <option disabled selected hidden>Age</option>
      <option value="ever" {% if since == 'ever' %}selected{% endif %}>All</option>
      <option value="7" {% if since == '7' %}selected{% endif %}>7 days ago</option>
      <option value="1" {% if since == '1' %}selected{% endif %}>1 day ago</option>
      {{ since  }}
    </select>
  </div>
  <div class="input-group mb-2 mr-sm-2">
    <input type="text" name="search" class="form-control border-0 small" placeholder="Filter" value="{{ search|default:'' }}">
    {% if search %}
      <a class="btn input-clear" href="?{% url_remove_param 'search' %}" aria-label="Clear">
        <i class="fas fa-sm fa-times-circle" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>

<div class="row">

{% for item in map %}
  <div class="col-md-4">
  {% include 'web/confidence_column.html' %}
  </div>
{% endfor %}

</div>
{% endblock %}
