{% load styles %}
{% load getattribute %}
{% load queryset_utils %}

{% with tests_untriaged=object.tests_untriaged %}
  {% with tests_blocking=tests_untriaged|tests_blocking tests_non_blocking=tests_untriaged|tests_non_blocking %}
    {% if object.stats_builds_untriaged or tests_blocking %}
    <div class="row">
      <div class="col-xl-12 mb-2">
        <div class="card shadow border-left-danger h-100">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1">
                  <i class="fas fa-fire-extinguisher text-danger"></i>
                  Untriaged Blocking Failures
                </div>
                {% if object.stats_builds_untriaged %}
                  <div class="table-responsive">
                    <table class="table table-hover table-sm" width="100%" cellspacing="0">
                      <tbody>
                        {% for build in object.builds_untriaged %}
                          {% include 'tables/row_build_simple.html' %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
                {% if tests_blocking %}
                  <div class="table-responsive">
                    <table class="table table-hover table-sm" width="100%" cellspacing="0">
                      <tbody>
                        {% for test in tests_blocking %}
                          {% include 'tables/row_test_simple.html' %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if tests_non_blocking %}
    <div class="row">
      <div class="col-xl-12 mb-2">
        <div class="card shadow h-100">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1">
                  <i class="fas fa-fire-extinguisher text-danger"></i>
                  Untriaged Issues
                </div>
                  <div class="table-responsive">
                    <table class="table table-hover table-sm" width="100%" cellspacing="0">
                      <tbody>
                        {% for test in tests_non_blocking %}
                          {% include 'tables/row_test_simple.html' %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endwith %}
{% endwith %}
