<a href="#" data-container="body" data-toggle="popover" data-placement="top"
   data-content="
   {% if maintainer.email %}
     Email: &lt;<a href='mailto:{{ maintainer.email }}'>{{ maintainer.email }}</a>&gt;
     <br/>
   {% endif %}
   {% if maintainer.gitlab_username %}
   Gitlab Profile:
     {% if maintainer.gitlab_profile_url %}
       <a href='{{ maintainer.gitlab_profile_url }}'>
         @{{ maintainer.gitlab_username }}
       </a>
     {% else %}
       @{{ maintainer.gitlab_username }}
     {% endif %}
   {% endif %}
   ">
  {{ maintainer.name }}
</a>
