{% extends "base_single_card.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Forgot your password?</h1>
</div>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <input type="email" class="form-control form-control-user" name="email"
     autocomplete="email" required="" id="id_email" placeholder="Enter email...">
  </div>
  <input type="submit" value="Send me instructions!" class="btn btn-primary btn-user btn-block">
  <hr>
</form>
{% endblock %}
